.Footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2rem 5%;
    width: 100%;
    box-sizing: border-box;
}

.Footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.footer-logo img {
    height: 200px;
}

.social{
   display: flex;
   justify-content: center;

}

.social img{
    padding-right: 5px ;
}