.specials-section {
  width: 60%;
  margin-left: 18%;
  margin-right: 18%;
  background-color: beige;
  padding: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.special-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-section{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.menu-btn{
    background-color: #F4CE14;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    height: 45px;
    width: 200px
}

.image-box {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 350px;
  background-color: #edefee;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

